name: First workflow
run-name: "Run by @${{ github.actor }}. Branch ${{ github.ref_name }}. Deploying build:${{ inputs.build_id }} "
on:
  workflow_dispatch: 
    inputs:
      Name:
        description: "Please provide your name"
        required: true
        default: "Name was not provided"
      environment: 
        description: "Please choose environment?"
        required: false
        default: ""
        type: choice
        options:
          - dev
          - test
          - prod
              
env:
  DAY_OF_WEEK: Monday
  YOUR_NAME: KATE
  
jobs:
  Welcome_new_user-envs:
    name: Welcome_job
    runs-on: ubuntu-latest
    env:
      JobVar: JobVar
    environment: Env-test
    outputs:
      output_var: ${{ steps.StepEnvOutput.outputs.version }} # Env redirect to other job
    steps:
      - name: Welcome new user - ${{env.YOUR_NAME}}
        run: echo "Welcome ${{env.YOUR_NAME}}"
      - name: Starting_day - ${{env.DAY_OF_WEEK}}
        run: echo "${{env.YOUR_NAME}}, you start a work on ${{env.DAY_OF_WEEK}}"
      - name: GitHub ENV
        run : echo "StepEnvVar=StepEnvVar" >> $GITHUB_ENV
      - name: GitHub OUTPUT
        id: StepEnvOutput
        run : echo "StepEnvOutput=StepEnvOutput" >> $GITHUB_OUTPUT
      - name: Environment varaibles and secrets
        env:
          StepVar: StepVar
        run: |
          # Step
          echo "StepVar: ${{ env.StepVar }}"
          # Job
          echo "JobVar: ${{ env.JobVar }}"
          # Environment
          echo "Environment var: ${{ vars.VAR_ENVS }}"
          echo "Environment secret: ${{ secrets.SECRET_ENV }}" # In logs ***
          # Workflow
          echo "Workflow: ${{ env.DAY_OF_WEEK }}"
          # Repository Settings
          echo "Variables action: ${{ vars.NEW_REPO_VAR }}"
          echo "Secrets action: ${{ secrets.REPO_SECRET }}" # In logs ***
          # GitHub Env
          echo "GitHub env: ${{ env.StepEnvVar }}"
          
  Environment_access-if:
    name: Environment_access
    needs: Welcome_new_user-envs
    runs-on: ubuntu-latest
    if: github.event.inputs.environment
    steps:
      - name: Environment access - ${{github.event.inputs.environment}}
        if: github.event.inputs.environment == 'dev'
        run: echo "You get an access to ${{github.event.inputs.environment}}"
      - name: Environment access - ${{github.event.inputs.environment}}
        if: github.event.inputs.environment == 'test' || github.event.inputs.environment == 'prod'
        run: echo "You get an access to ${{github.event.inputs.environment}}"
      - name: Var from the previous jobs -  Welcome_new_user-envs
        run: "echo 'VAR: ${{ needs.Welcome_new_user-envs.outputs.output_var }}'"
      
  Onboarding_finished:
    name: Onboarding_finish
    needs:
      - Welcome_new_user-envs
      - Environment_access-if
    runs-on: ubuntu-latest
    steps:
      - name: Onboarding finished 
        run: echo "Onboarding finished"
    
        
      
    
